.btn {
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: black 1px solid;
  padding-bottom: 10px;
}

.search-container form {
  display: flex;
  align-items: center;
}

.poke-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
